<form class="text-center border border-light p-5">
    <p class="h4 mb-4">Preview</p>
    <input type="text" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Course Main Image">
    <input type="text" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Upload Teaser">
<br><br>
<br><br>
   <div class="row">
    </div>
    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" routerLink="" class="my-4" type="submit">Submit</button>
    <button mdbBtn color="info" block="true" routerLink="../step-2"  routerLink="" class="my-4" type="submit">Back</button>

    <!-- Social register -->
    <hr>
  </form>
  <!-- Default form register -->