<section class="mt-lg-5">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">

            <!--Card-->
            <mdb-card cascade="true" class="cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <mdb-icon far icon="money-bill-alt" class="primary-color"></mdb-icon>
                    <div class="data">
                        <p>Balance</p>
                        <h4><strong>$2000</strong></h4>
                    </div>
                </div>
                <!--/.Card Data-->

                <!--Card content-->
                <mdb-card-body>

                    <!--Text-->
                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">

            <!--Card-->
            <mdb-card cascade="true" class="cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <mdb-icon fas icon="chart-line" class="warning-color"></mdb-icon>
                    <div class="data">
                        <p>Students</p>
                        <h4><strong>200</strong></h4>
                    </div>
                </div>
                <!--/.Card Data-->

                <!--Card content-->
                <mdb-card-body>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">

            <!--Card-->
            <mdb-card cascade="true" class="cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <mdb-icon fas icon="chart-pie" class="light-blue lighten-1"></mdb-icon>
                    <div class="data">
                        <p>Courses</p>
                        <h4><strong>20000</strong></h4>
                    </div>
                </div>
                <!--/.Card Data-->

                <!--Card content-->
                <mdb-card-body>
                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
