<!-- Heading -->
<mdb-card class="mb-4 wow fadeIn">

    <!--Card content-->
    <mdb-card-body class="d-sm-flex justify-content-between">

        <h4 class="mb-sm-0 pt-3">
            <span>Dashboard</span>
        </h4>



    </mdb-card-body>

</mdb-card>
<!-- Heading -->


<app-stats-card></app-stats-card>


<!--Grid row-->
<div class="row wow fadeIn mt-5">

    <!--Grid column-->
    <div class="col-md-9 mb-4">

        <!--Card-->
        <mdb-card>

            <!--Card content-->
            <mdb-card-body>

                <div style="display: block">
                    <canvas mdbChart [chartType]="chart1Type" [datasets]="chartDatasets" [labels]="chartLabels"
                            [colors]="chartColors" [options]="chartOptions"
                            [legend]="true">
                    </canvas>
                </div>
            </mdb-card-body>

        </mdb-card>
        <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3 mb-4">

        <!--Card-->
        <!--/.Card-->

        <!--Card-->

        <!--/.Card-->

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->


<!--Grid row-->

<!--Grid row-->

<!--<app-stats-card2></app-stats-card2>-->





