<!-- Section: Blog v.1 -->
<section class="my-5">
    <div class="row">
        <!-- Grid column -->
        <div class="col-lg-5">
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
                    alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-7">
            <!-- Category -->
            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>{{course.name}}</strong></h3>
            <h3 class="font-weight-bold mb-3"><strong>${{course.price}}</strong></h3>
            <!-- Excerpt -->
            <p style="height:285px">{{course.description}}
            </p>
            <!-- Post data -->
            <!-- Read more button -->
            <!--
            <div class="justify-content-center">
                <a mdbBtn color="unique" class="w-75"  mdbWavesEffect>Add to Cart</a>
                <a mdbBtn color="unique" class="w-75"  mdbWavesEffect>Buy Now</a>
            </div>
-->
            <div class="justify-content-center">
              <a mdbBtn color="unique" class="w-75 orange darken-4"  mdbWavesEffect>Start</a>
          </div>
        </div>
        <!-- Grid column -->
    </div>
    <hr class="my-5">
   <!-- <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
        [animation]="'slide'">
        <mdb-carousel-item *ngFor="let item of slides; let i = index">
            <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
                *ngFor="let card of item; let cardIndex = index">
                <mdb-card class="my-1">
                    <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                </mdb-card>
            </div>
        </mdb-carousel-item>
    </mdb-carousel> -->
    <!--
    <h5>Course Outline</h5>
    <hr class="my-5">
    <button mdbBtn color="unique" class="waves-light w-50" type="button" (click)="test.toggle()" mdbWavesEffect>
        Introduction
      </button>
      
      <div class="" mdbCollapse #test="bs-collapse">
        <div class="list-group w-50 ml-1">
            <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Morbi leo risus</a>
            <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Porta ac consectetur ac</a>
            <a href="#" class="list-group-item list-group-item-action disabled waves-light" mdbWavesEffect>Vestibulum at
              eros</a>
          </div>
      </div>

    -->
<!--HERE IF DETAILS FOR INSTRUCTOR
<div class="row">


    <div class="col-md-3" >
      <mdb-card cascade="true" narrower="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
          <h5 class="pink-text">
            <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
          <h4 class="card-title">Cheat day inspirations</h4>
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
          <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
  
      </mdb-card>
    </div>
  
    <div class="col-md-3"  >
      <mdb-card cascade="true" narrower="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-
          <h5 class="pink-text">
            <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
          <h4 class="card-title">Cheat day inspirations</h4>
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
          <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
  
      </mdb-card>
    </div>
    <div class="col-md-3"  >
      <mdb-card cascade="true" narrower="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight">hhhhhh</div>
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
          <h5 class="pink-text">
            <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
          <h4 class="card-title">Cheat day inspirations</h4>
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
          <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
  
      </mdb-card>
    </div>
    <div class="col-md-3"  >
      <mdb-card cascade="true" narrower="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
          <h5 class="pink-text">
            <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
          <h4 class="card-title">Cheat day inspirations</h4>
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
          <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
  
      </mdb-card>
    </div>
  </div>

HERE IF DETAILS FOR INSTRUCTOR



    <hr class="my-5">
    <section class="team-section text-center my-5">

        <h2 class="h1-responsive font-weight-bold my-5">Reviews</h2>


        <div class="row text-center">

            <div class="col-md-4 mb-md-0 mb-5">

                <div class="testimonial">
                
                    <h6 class="font-weight-bold blue-text my-3">Sam S</h6>
                    <p class="font-weight-normal dark-grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                        eos id
                        officiis hic tenetur quae quaerat
                        ad velit ab hic tenetur.</p>
                    <div style="color:#880e4f">
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star-half"> </mdb-icon>
                    </div>
                </div>

            </div>
            <hr class="my-5">
            <div class="col-md-4 mb-md-0 mb-5">

                <div class="testimonial">
                    <h6 class="font-weight-bold blue-text my-3">Sam S</h6>
                    <p class="font-weight-normal dark-grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                        eos id
                        officiis hic tenetur quae quaerat
                        ad velit ab hic tenetur.</p>
                    <div style="color:#880e4f">
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star-half"> </mdb-icon>
                    </div>
                </div>

            </div>
            <hr class="my-5">
            <div class="col-md-4 mb-md-0 mb-5">
                <div class="testimonial">
                    <h6 class="font-weight-bold blue-text my-3">Sam S</h6>
                    <p class="font-weight-normal dark-grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                        eos id
                        officiis hic tenetur quae quaerat
                        ad velit ab hic tenetur.</p>
                    <div style="color:#880e4f">
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star-half"> </mdb-icon>
                    </div>
                </div>
            </div>
            <hr class="my-5">
            <div class="col-md-4 mb-md-0 mb-5">

                <div class="testimonial">
                   
                    <h6 class="font-weight-bold blue-text my-3">Sam S</h6>
                    <p class="font-weight-normal dark-grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                        eos id
                        officiis hic tenetur quae quaerat
                        ad velit ab hic tenetur.</p>
                    <div style="color:#880e4f">
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star-half"> </mdb-icon>
                    </div>
                </div>

            </div>
            <hr>

        </div>
    </section>
     Section: Testimonials v.3 -->
</section>
